@model IEnumerable<Entity.Categorias_Entity>


<!DOCTYPE html>
<html>
<head>
    <title>Farmacia Muerte Lenta</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/icon.ico" />
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")

    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">
                    <img src="~/Images/logo.svg" alt="Muerte lenta">
                </a>
            </div>
            <div id="navbar3" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-collapse">
                    <li class="active">@Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "active" })</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categorias<span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Todas", "Index", "Categorias", null, new { @class = "second" })</li>
                            @foreach (var item in Model)
                            {
                                <li><a href="#" class="li second">@Html.DisplayFor(modelItem => item.CatNombreValue)</a></li>
                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administracion<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Categorias", "Index", "Categorias", null, new { @class = "second" })</li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
    <div style="clear:both;"></div>

    <div>
        @RenderBody()

    </div>

    <footer class="piedepagina p-y-1" role="contentinfo">
        <div class="container">
            <p>2017 © Todos los derechos reservados</p>
            <ul class="redes-sociales">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"> </i>  </a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i> </a></li>
            </ul>

        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.dataTables.js"></script>
    @*<script src="~/Scripts/jquery.dataTables.min.js"></script>*@
    <script type="text/javascript">
            $(document).ready(function () {
                $('#grid').DataTable();
            });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
